@model LoginModel
@{
    ViewData["Title"] = "Create";
}

<div class="content">
    <div class="container-fluid my_board">
        <div class="col-md-12">
            <div class="whitebox">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <form method="post" asp-antiforgery="true" enctype="multipart/form-data">
                            <div>
                                <label asp-for="FirstName"> First Name: </label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div>
                                <label asp-for="LastName"> Last Name: </label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div>
                                <label asp-for="MiddleName"> Middle Name: </label>
                                <input asp-for="MiddleName" class="form-control" />
                                <span asp-validation-for="MiddleName"></span>
                            </div>
                            <div>
                                <label asp-for="Email"> Email: </label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">  
                                <label asp-for="UserRoleId">User Role</label>
                                <select asp-for="UserRoleId" asp-items="(SelectList)ViewBag.Name" class="form-control"><option value="">-- Choose User Role --</option></select>
                                <span asp-validation-for="UserRoleId"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CustomerId">Customer Name</label>
                                <select asp-for="CustomerId" asp-items="(SelectList)ViewBag.CustomName" class="form-control"><option value="">-- Choose Customer --</option></select> 
                                <span asp-validation-for="CustomerId"></span>
                            </div>
                            <div>
                                <label asp-for="WorkPhone">Work Phone Number: </label>
                                <input asp-for="WorkPhone" class="form-control" />
                                <span asp-validation-for="WorkPhone"></span>
                            </div>
                            <div>
                                <label asp-for="MobilePhone">Mobile Phone Number: </label>
                                <input asp-for="MobilePhone" class="form-control" />
                                <span asp-validation-for="MobilePhone"></span>
                            </div>
                            <div>
                                <label asp-for="HomePhone">Home Phone Number: </label>
                                <input asp-for="HomePhone" class="form-control" />
                                <span asp-validation-for="HomePhone"></span>
                            </div>
                            <div>
                                <label asp-for="Address1">Address1: </label>
                                <input asp-for="Address1" class="form-control" />
                                <span asp-validation-for="Address1"></span>
                            </div>
                            <div>
                                <label asp-for="Address2">Address2: </label>
                                <input asp-for="Address2" class="form-control" />
                                <span asp-validation-for="Address2"></span>
                            </div>
                            <div>
                                <label asp-for="Address3">Address3: </label>
                                <input asp-for="Address3" class="form-control" />
                                <span asp-validation-for="Address3"></span>
                            </div>
                            <div>
                                <label asp-for="City">City: </label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City"></span>
                            </div>
                            <div>
                                <label asp-for="State">State: </label>
                                <input asp-for="State" class="form-control" />
                                <span asp-validation-for="State"></span>
                            </div>
                            <div>
                                <label asp-for="Country">Country: </label>
                                <input asp-for="Country" class="form-control" />
                                <span asp-validation-for="Country"></span>
                            </div>
                            <div>
                                <label asp-for="Zip">Zipcode: </label>
                                <input asp-for="Zip" class="form-control" />
                                <span asp-validation-for="Zip"></span>
                            </div>
                            <div>
                                <label asp-for="LoginName">Login Name:</label>
                                <input asp-for="LoginName" class="form-control" />
                                <span asp-validation-for="LoginName"></span>
                            </div>
                            <div>
                                <label asp-for="Password">Password:</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div>
                                <label asp-for="ConfirmPassword">Confirm Password:</label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <br/>
                            <div>
                                <input class="btn btn-primary" type="submit" value="Create User" />
                                <a class="btn btn-primary" asp-action="Index" asp-controller="RegisterUser">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


